body{
  background-color: ivory;
  height: auto;

}

h1{
  color: beige;

}

.main_login{
  background-color: lightblue;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 100px;
  padding: 35px;

}

button{

  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: lightblue;
  background-color: ivory;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px azure;

}
button:hover {background-color: aliceblue}

button:active {
  background-color: beige;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid beige;
}

#top_bar{
  border: 5px solid powderblue;
  margin-top: 0;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  background-color: lightblue;
}
