#meme-div {
  width: 450px;
  height: 250px;
  background-size: 100%;
  text-align: center;
  position: relative;
}
h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact;
  color: white;
  text-shadow: 1px 1px black;
}
.dark_mode {
  color: black;
  text-shadow: 1px 1px white;
}
#line1 {
   top: 0;
}
#line2 {
   bottom: 0;
}
