body{
  background-color: ivory;

}
h4{
  color: beige;
  text-shadow: 1px 1px black;

}
h2{
  color: beige;
  text-shadow: 1px 1px black;

}
button{
  display: inline-block;
  padding: 8px 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;

  outline: none;

  border-radius: 15px;
  box-shadow: 0 10px azure;
}
#signout{
  border: none;
  color: lightblue;
  background-color: ivory;
  text-shadow: 2px 1px white;
}
#timeline{
  height:300px;
  width:400px;
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  background-color: lightblue;
  text-shadow: 2px 1px #D3D3D3;
}

#aboutus{
  height:300px;
  width:400px;
  margin-top: 100px;
  color: white;
  background-color: lightblue;
  text-shadow: 2px 1px #D3D3D3;
}

button:hover {background-color: aliceblue}

button:active {
  background-color: beige;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
li{
float: left;

}
li h2 {
  display: block;
  text-align: center;


}
li h4 {
  display: block;
  text-align: center;
  position: relative;
  top: 4px;

}
li button {
  display: block;
  text-align: center;
  position: relative;
  top: 9px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  border: 5px solid powderblue;
  margin-top: 0;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: lightblue;
}

.bottom_bar{
  border: 5px solid powderblue;
  border-style: solid;
  position: absolute;
  bottom: 8px;
  width: 95.8%;
  border-radius: 10px;
  padding: 18px;
  background-color: lightblue;

}

/* #email{
  position: absolute;
  top: 9px;
  left: 20px;
} */

/* .intro{
  border: 5px solid powderblue;
  margin-top: 0;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  background-color: lightblue;
  text-align: center;
} */
