#prezi-player{
  height: 70vh;
  border-style: solid;
  border-color: lightblue;
  border-radius: 5px;
  border-width: thick;
  margin-top: 35px;

}

body{
  background-color: ivory;
}
h1{
  color: beige;
  text-shadow: 2px 1px white;
  text-align: center;

}
.bottom_bar{
  border: 5px solid powderblue;
  border-style: solid;
  position: absolute;
  bottom: 0;
  width: 95.4%;
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue;
  margin-bottom: 5px;



}
#top_bar{
  margin-top: 0;
  background-color: lightblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  display: flex;
  border: 5px solid powderblue;
  margin-top: 0;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: lightblue;
}



.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: aliceblue;
}
#back{
  display: inline-block;
  padding: 8px 20px;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
  text-shadow: 2px 1px white;
  outline: none;
  color: lightblue;
  background-color: ivory;
  border: none;
  border-radius: 15px;
  box-shadow: 0 10px azure;
}
button:active {
  background-color: beige;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:hover {background-color: aliceblue}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 22px;
  border: solid;
  text-shadow: 2px 1px white;
  outline: none;
  color: lightblue;
  border-radius: 15px;
  box-shadow: 0 3px azure;
  border-color: ivory;
  padding: 8px 20px;
  background-color: ivory;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
