<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/stylesheets/aboutus.css">
  </head>
  <body>
    <div class="top">
      <ul id="top">
      <li> <h3></h3></li>
        <li> <h2 id="introductory">The Ultimate Guide for First-Generation High School Students</h2> </li>
      <li> <button id="signout" onclick="window.location.href='/dashboard'">Back</button></li>
      </ul>
    </div>
    <div class="About_Us">
      <div class="Person_1">
        <h2 id="name">Brian Sanchez</h2>
        <img id="main_brian" src="/photos/brian_profile.jpg" alt="">
        <h3 id="info">Brian will be attending the University of Washington this fall to study Computer Engineering.</h3>
        <a href="https://www.linkedin.com/in/brian-sanchez-7b695018b/" target ="_blank"><img id="brian" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" alt=""></a>
      </div>
      <div class="Person_2">
        <h2 id="name">Emily Goridkov</h2>
        <img id="main_emily" src="/photos/emily_profile.jpg" class="rotateimg270" alt="">
        <h3 id="emily_info"> Emily will be attending the University of Toronto this fall to study Computer Engineering.</h3>
        <a href="https://www.linkedin.com/in/emily-goridkov-932abb18b/" target = "_blank"><img id="emily" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" alt=""></a>



      </div>
      <div class="Person_3">
        <h2 id="name">Selina Wu</h2>
        <img id="main_selina" src="/photos/selina.jpg" alt="">
        <h3 id="info">Selina will be attending the University of California, Berkeley this fall to study Computer Science. </h3>
        <a href="https://www.linkedin.com/in/selina-w-4b363b139/" target = "_blank"><img id="selina" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" alt=""></a>

      </div>


    </div>


  </body>
</html>
