<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <script src="lib/PreziPlayer/prezi_player.js"></script>
    <script>var d=document.createElement('div'), p=document.createElement('script'), pp=document.createElement('script'), incl; incl = function(){ d.id="prezi_player_fq_7u8rzx1w_"; pp.innerHTML="var player = new PreziPlayer('"+d.id+"', {preziId: 'fq_7u8rzx1w_', width: '640', height: '480'});"; document.body.appendChild(d); document.body.appendChild(pp); }; if (!window.PreziPlayer){ p.src="http://prezi.github.io/prezi-player/lib/prezi_player.js"; document.body.appendChild(p); p.onload = incl; } else { incl(); }</script>
    <title></title>
  </head>
  <body>
    <h1 id="top_bar">Student Timeline for University of California, Berkeley</h1>
    <button onclick="window.location.href='/timeline'">Go Back</button>
      <div id="prezi-player" class="player" >
        <iframe src="https://prezi.com/player/?oid=fq_7u8rzx1w_&amp;explorable=1&amp;controls=0" frameborder="0" width = "100%" height= "100%" scrolling="yes" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe>
      </div>
        <div class="bottom_bar"></div>

  </body>
</html>
