<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <title></title>
  </head>
  <body>
    <div class="navbar">
  <ul class="top_bar">
    <li><button id="back" onclick="window.location.href='/timeline'">Go Back</button></li>
    <li><h1 id="top_bar">Student Timeline for Cornell University</h1></li>
    <li><h3></h3></li>
  </ul>
    </div>
    <div id="prezi-player" class="player" >
      <!-- <iframe src="https://prezi.com/player/?oid=qxbj8zhqkxry&amp;explorable=1&amp;controls=0" frameborder="0" width = "100%" height= "100%" scrolling="yes" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""></iframe> -->
    </div>
      <div class="prezi_buttons">
        <ul id="control_bar">
        <li><button id="previous_button"  type="button" onclick="previousSlide()">Previous</button></li>
        <li><input type="text" disabled></li>
        <li><button id="next_button"  type="button" onclick="nextSlide()">Next</button></li>
        </ul>
      </div>
        <div class="bottom_bar"></div>
<script src="http://prezi.github.io/prezi-player/lib/PreziPlayer/prezi_player.js"></script>
          <script>
          var player = new PreziPlayer('prezi-player', { //id of div to embed into
                preziId: 'ha5f-us12ukm', //id of prezi, visible in the url when you load the prezi on Prezi.com
                width: "100%",
                height: "100%",
                debug: true
          });

        function nextSlide(){
        if (player.getCurrentStep() == player.getStepCount()-1){
        player.flyToStep(0);
        player.nextStep();
        }
        else{
        player.nextStep();
        }
        }
        function previousSlide(){
        player.previousStep();
        }
</script>

  </body>
</html>
