<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/grades.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="navbar">
  <ul>
    <li><button id="back" onclick="window.location.href='/dashboard'">Go Back</button></li>
    <li><h1 id="top_bar">Tips for Grade Twelve</h1></li>
    <li><h3></h3></li>
  </ul>
    </div>
    <h3>Grade 12 is an important year. This is when you will start applying to universities, so you need to find a way to balance academics with the application process. For some people, the process is jarring and for others there is no feeling. We suggest starting early and submitting your applications early in the school year (September or October) </h3>
    <br>
    <h3>During Grade 12, you'll still have the option to take Regular versus Honours versus AP versus IB classes. Why take an honours class instead of a regular class? There are different reasons as to why you would. By Grade 12 though, this decision should come down to how you feel and where you feel most comfortable. Keep in mind that certain schools prefer advanced academics. </h3>
    <br>
    <h3>You should stick with the clubs you are most passionate about. Your mental health is super important, so don't forget to take care of yourself and protect your own best interests. Safe for all. </h3>
    <h2>Here are some important and cool resources to help you during Grade 12</h2>

    <div class="box">
      <center>
      <form method="post" action="/gradetwelveinfo">
        <h3>Do you have any questions?</h3>
        <input type="text" name="question">
        <br>
        <h3>Enter the password: </h3>
        <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
      </form>
      <br>
      </center>
    </div>

  </body>
</html>
