<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/grades.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="navbar">
  <ul>
    <li><button id="back" onclick="window.location.href='/dashboard'">Go Back</button></li>
    <li><h1 id="top_bar">Tips for Grade Nine</h1></li>
    <li><h3></h3></li>
  </ul>
    </div>
    <h3>Grade 9 is an important foundational year. This is when your GPA will start being calculated and depending on what you want/ need at the end of high school, you want to maintain that GPA at a certain number. Your grades here will weigh into your GPA and/or class rank, so you want to work hard. Ultimately, your grades in Grade 9 will not make or break you, but it's still in your best interest to look out for yourself. </h3>
    <br>
    <h3>yas</h3>
    <br>
    <h3>we</h3>
    <br>
    <h2>Here are some important and cool resources to help you during Grade 9</h1>

    <div class="box">
      <center>
      <form method="post" action="/gradenineinfo">
        <h3>Do you have any questions?</h3>
        <input type="text" name="question">
        <br>
        <h3>Enter the password: </h3>
        <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
      </form>
      <br>
      </center>
    </div>

  </body>
</html>
