<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/grades.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

    <title></title>
  </head>
  <body>
    <div class="navbar">
  <ul>
    <li><button id="back" onclick="window.location.href='/dashboard'">Go Back</button></li>
    <li><h1 id="top_bar">Tips for Grade Ten</h1></li>
    <li><h3></h3></li>
  </ul>
  <h3>Grade 10 is not as difficult to navigate through. Your GPA will continue to be calculated and depending on what you want/ need at the end of high school, you want to maintain that GPA at a certain number. Your grades here will weigh into your GPA and/or class rank, so you want to work hard. Ultimately, your grades in Grade 10 are just as important, so it's still in your best interest to look out for yourself. </h3>
  <br>
  <h3>During Grade 10, you'll have more freedom to take Regular versus Honours classes versus AP classes. Why take an honours class instead of a regular class or an AP class instead of an Honours class? There are different reasons as to why you would. For starters, the more advanced academics you get involved with from earlier on the higher your GPA could potentially reach. In addition, certain, more elite, schools are more interested in students who have taken advanced classes if they had the opportunity.</h3>
  <br>
  <h3>You should probably become more involved this year. It's just important that you stay focused in school, and start branching out and developing your interests. Clubs are a good way to find what you are passionate about. </h3>
  <br>
  <h2>Here are some important and cool resources to help you during Grade 10</h1>

    </div>
    <div class="box">
      <center>
      <form method="post" action="/gradeteninfo">
        <h3>Do you have any questions?</h3>
        <input type="text" name="question">
        <br>
        <h3>Enter the password: </h3>
        <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
      </form>
      <br>
      </center>
    </div>
  </body>
</html>
