<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/grades.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="navbar">
  <ul>
    <li><button id="back" onclick="window.location.href='/dashboard'">Go Back</button></li>
    <li><h1 id="top_bar">Tips for Grade Eleven</h1></li>
    <li><h3></h3></li>
  </ul>
    </div>
    <h3>Grade 11 is an very important year. Most schools pay attention to your academics this year. It's not even as if the classes are more difficult, but there is just much more to balance once you reach Grade 11, including taking SATs, and other standardized tests. It'll be good. </h3>
    <br>
    <h3>During Grade 11, you'll still have the option to take Regular versus Honours classes and AP classes. Why take an honours class instead of a regular class or AP/IB class? There are different reasons as to why you would. If you are interested in applying to schools that are higher ranked, then taking AP/IB courses are advised to show that you enjoy and can handle challenge. Even if you don't want to go to a higher ranked school, these classes are still really great for personal and academic growth.</h3>
    <br>
    <h3>You should try having a good role in two to three clubs. It is important that you are part of a community of individuals who share passions with you.</h3>
    <br>
    <br>
    <!-- <h2>Here are some important and cool resources to help you during Grade 11:
      <li>
        <ul>

          Click <a href="http://www.yahoo.com">here</a> to go to yahoo.

        </ul>
      </li>

    </h2>
    <br>
    <br>
    <br> -->
    <div class="box">
      <center>
      <form method="post" action="/gradeeleveninfo">
        <h3>Do you have any questions?</h3>
        <input type="text" name="question">
        <br>
        <h3>Enter the password: </h3>
        <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
      </form>
      <br>
      </center>
    </div>
  </body>
</html>
