<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/grades.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="navbar">
  <ul>
    <li><button id="back" onclick="window.location.href='/dashboard'">Go Back</button></li>
    <li><h1 id="top_bar">Tips for Grade Twelve</h1></li>
    <li><h3></h3></li>
  </ul>
    </div>
    <div class="box">
      <center>
      <form method="post" action="/gradetwelveinfo">
        <h3>Do you have any questions?</h3>
        <input type="text" name="question">
        <br>
        <h3>Enter the password: </h3>
        <input type="text" name="password">
        <br>
        <br>
        <input type="submit">
      </form>
      <br>
      </center>
    </div>
  </body>
</html>
