<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="intro">
      <ul>
      <li> <h4 id="email">Welcome, {{email_address}}</h4></li>
        <li> <h2 id="introductory">The Ultimate Guide for High School Students</h2> </li>
      <li> <button id="signout" onclick="window.location.href='/'">Sign Out</button></li>
      </ul>
    </div>
    <button id="timeline" onclick="window.location.href='/timeline'">Timeline for You</button>
    <button id="aboutus" onclick="window.location.href='/aboutus'">About Us</button>
    <div class="bottom_bar"></div>
    <h1>
    {% if grade_of_student == 9 %}
    <button id="gradenine" onclick="window.location.href='/gradenineinfo'">Grade 9</button>
    {% endif %}

    {% if grade_of_student == 10 %}
    <button id="gradeten" onclick="window.location.href='/gradeteninfo'">Grade 10</button>
    {% endif %}

    {% if grade_of_student == 11 %}
    <button id="gradeeleven" onclick="window.location.href='/gradeeleveninfo'">Grade 11</button>
    {% endif %}

    {% if grade_of_student == 12 %}
    <button id="gradetwelve" onclick="window.location.href='/gradetwelveinfo'">Grade 12</button>
    {% endif %}
  </h1>
  </body>
</html>



<!--1. get grade_of_student to display on the screen  -->
<!--2. Get a button on the screen that shows the grade  -->
<!--3. Make all 4 buttons for each grade  -->
<!--4. Only display the button that matches grade_of_student  -->


<!-- Client ID
1033119862323-u495s7i6qcplc36k46ubm3bo1bdbvjgh.apps.googleusercontent.com
Client Secret
JSgJCOd_FzlK09gkQksET0Ql -->
