<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="intro">
      <ul>
      <li> <h4 id="email">Welcome, {{email_address}}</h4></li>
        <li> <h2 id="introductory">The Ultimate Guide for High School Students</h2> </li>
      <li> <button id="signout" onclick="window.location.href='/'">Sign Out</button></li>
      </ul>
    </div>
    <img src="https://media2.giphy.com/media/fBPHYTN8wmEyiAUvTV/source.gif" alt="">
    <button id="timeline" onclick="window.location.href='/timeline'">Timeline for You</button>
    <button id="aboutus" onclick="window.location.href='/aboutus'">About Us</button>
    <img src="https://media2.giphy.com/media/fBPHYTN8wmEyiAUvTV/source.gif" alt="">
    <div class="bottom_bar"></div>
  </body>
</html>


<!-- Client ID
1033119862323-u495s7i6qcplc36k46ubm3bo1bdbvjgh.apps.googleusercontent.com
Client Secret
JSgJCOd_FzlK09gkQksET0Ql -->
