
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <body>
    <h1 class="Welcome">Welcome to our site:\ </h1><h1 id = "user_email">{{email_address}}</h1><h1 class="Welcome">Please sign up!</h1>
    <br>
    <div class="box">
      <center>
      <form method="post" action="/signup">
        <h3>First Name:</h3>
        <input type="text" name="first_name">
        <h3>Last Name:</h3>
        <input type="text" name="last_name">
        <h3>What Grade Are You In (only 9-12): </h3>
        <input type="number" name="grade_of_student">
        <input type="hidden" name="email" value ="{{email_address}}">
        <br>
        <br>
        <input type="submit">
      </form>
      <br>
      </center>
    </div>


  </body>
</html>
