<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://prezi.github.io/prezi-player/lib/PreziPlayer/prezi_player.js"></script>
  </head>
  <body>
    <div id="player-api-intro" class="player-api-intro">

    </div>
    <script>
var player = new PreziPlayer('player-api-intro', { //id of div to embed into
	preziId: 'qxbj8zhqkxry', //id of prezi, visible in the url when you load the prezi on Prezi.com
	width: 620,
	height: 444,
  controls: true,
  debug: true
});
    </script>
  </body>
</html>
